.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  border: 1px solid #000000;
  background-color: #f1bee5;
  padding: 50px;
  cursor: pointer;
  background-image: url('/images/logo.png'); 
  background-size: cover; 
  max-width: 80%;
  max-height: 80%;
  display: flex; /* Changed from flex to inline-block */
}

.modal-content {
  background-color: #5364f5;
  padding: 20px;
  border-radius: 4px;
  max-width: 80%;  /* limit width to 80% of the screen width */
  margin: auto; /* Center the content */
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.close:hover {
  color: red;
}

.story {
  margin-top: 10px;
}
